body{
	align-content:center;
	margin: 0;
	padding: 0;
}

.backBody {
	background:url(../image/backscreen.png);
	background-size:cover;
}

#pikox2 {
  position: absolute;
/*
  left:3px;
  top:3px;
*/
	height: 600px;
	width: 1024px;
}
