html, body {
  height: 100%;
  width: 100%;
}

body{
	align-content:center;
	margin: 0;
	padding: 0;
}

.backBody {
	background:url(../image/backscreen.png);
	background-size:cover;
}

#pikox2 {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
/*
  left:3px;
  top:3px;
*/
}
